asgiref==3.8.1
crispy-bootstrap5==2025.4
Django==5.2.1
django-crispy-forms==2.4
django-extensions==4.1
django-markdownx==4.0.9
django-reversion==5.1.0
django-taggit==6.1.0
django-widget-tweaks==1.5.0
gunicorn==23.0.0
Markdown==3.8
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
sqlparse==0.5.3
tzdata==2025.2
