{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container mt-5 col-md-6 offset-md-3">
    <h2 class="mb-4 text-center">Login</h2>

    <!-- Show error message -->
    {% if form.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for field in form %}
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <form method="POST" autocomplete="off">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success btn-block mt-3">Login</button>
    </form>
  </div>
{% endblock %}
{% block show_nav_links %}False{% endblock %}
